<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--파일이 있는 경로  = 지정폴더 안에 파일은 추출하지 않음-->
    <add key="path" value="D:\image" />
    <!--<add key="path" value="C:\Users\Public\Videos" />-->
    
    <!--찾으려는 파일의 모든 유형 (기준 파일 유형)-->
    <add key="SearchPatterns" value="*.jpg|*.bmp|*.rle|*.gif|*.png|*.pdd|*.tif|*.wmv|*.avi|*.mp3" />
    
    <!--비디오로 분류할 파일 유형(SearchPatterns에도 해당 파일 확장자가 포함되어야함)-->
    <add key="VideoSearchPatterns" value="*.wmv|*.avi|*.mp3" />
    
    <!--Image Resize 종류 갯수 -->
    <add key="ResizeNum" value="3" />
    <!--Image Resize 할 Size -->
    <add key="ImageWidth1" value="300" />
    <add key="ImageHeight1" value="300" />
    <add key="ImageWidth2" value="200" />
    <add key="ImageHeight2" value="200" />
    <add key="ImageWidth3" value="100" />
    <add key="ImageHeight3" value="100" />
    <!--리사이즈된 파일이 저장된 폴더를 지정할 경우 : true / 원본파일이 있는 경로로 지정할 경우 : false-->
    <add key="ResizeFolder_Designate" value="true" />
    <!--ResizeFolder_Designate가 true일 경우 지정할 폴더 -->
    <add key="ResizeFolder" value="D:\\ImageResize" />
    
    <!-- redis cache-->
    <add key="RedisUrl" value="127.0.0.1:6379" />
    <add key="RedisOn" value="false" />
    <!--<add key="lifeTime" value="1" />-->
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>